@import url("@/styles/index.less");


/* 动画，控制背景 background-position */
@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.dev-tester-login {
    position: fixed;
    inset: 0;
    // background-image: linear-gradient(to left, #d9afd9 0%, #97d9e1 100%);
    background: linear-gradient(-45deg, #D6DAC8, #F3D0D7, #AFD198, #F5CCA0);
    background-size: 600% 600%;
    animation: gradient-bg 10s ease-in-out infinite;

    .dev-tester-content {
        margin: 100px auto;
        box-shadow: 0 6px 16px #0000001a;
        width: 40%;
        max-width: 540px;
        min-height: 380px;
        min-width: 400px;
        border-radius: 1rem;
        background-color: #fff;
        padding: 28px 58px;
    }

    .dev-tester-login-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;

        .logo-content {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;

            .logo-title {
                color: var(--text-color-primary);
                font-size: 42px;
                margin-bottom: 8px;
                font-weight: 700;
                margin-left: 8px;
            }

            img {
                width: 76px;
                height: 76px;
            }
        }


    }

    .login-content {
        width: 100%;
        background-color: var(--bg-color-hight);

        .login-form-item {
            width: 100%;
            padding: 0;
            margin-top: 16px;
        }

        .login-verify {
            display: flex;
            align-items: center;
            margin-top: 16px;

            .login-verify-code {
                flex-shrink: 0;
                height: 30px;
                width: 76px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                box-sizing: border-box;
                color: var(--text-color-primary);

                &:hover {
                    opacity: 0.8;
                    background-color: var(--primary-color-tint-60);
                }
            }
        }
    }

    .login-error {
        color: red;
        font-size: 12px;
        height: 24px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .login-operate {
        width: 100%;

        .login-oprate-footer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-top: 6px;
        }
    }



    .login-line {
        width: 100%;
        margin: 16px 0;
        color: var(--text-color-second);
        text-align: center;
    }
}