{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-html/vue",
    "stylelint-config-recommended-less",
    "stylelint-config-recommended-vue"
  ],
  "overrides": [
    {
      "files": [
        "**/*.vue"
      ],
      "customSyntax": "postcss-html"
    },
    {
      "files": [
        "**/*.less"
      ],
      "customSyntax": "postcss-less"
    }
  ],
  "rules": {
    "no-empty-source": null
  }
}