.sidekick-fluorescence-container {
    position: fixed;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidekick-fluorescence {
    border-radius: 50%;
    width: 100px;
    height: 128px;
    background-image: linear-gradient(-240deg, #e79e0d 50%, #299cdf 50%);
    filter: blur(72px);
}

.left-mode {
    .sidekick-fluorescence-container {
        top: 50%;
        left: 0;
        transform: translate(-35%, -50%);
    }
}

.right-mode {
    .sidekick-fluorescence-container {
        top: 50%;
        right: 0;
        transform: translate(35%, -50%);
    }
}


.sidekick-diffuse {
    width: 288px;
    height: 288px;
    filter: blur(80px);
    transition: all 2s;
}