@import url('@/styles/index.less');
@import url("@/components/common/Empty/Empty.less");
@import url("@/components/common/Cover/Cover.less");


.setting-app {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: var(--bg-color-primary);

    .setting-left {
        width: 256px;
        background: var(--bg-color-hight);
        padding: 24px 16px;
        overflow-y: auto;
        height: 100vh;
        flex-shrink: 1;

        .logo-content {
            display: flex;
            align-items: center;

            .logo-icon {
                width: 48px;
                height: 48px;
            }

            .logo-title {
                margin-left: 8px;
                font-size: 22px;
                font-weight: 500;
                color: var(--text-color-primary);
            }
        }

        .silder-list {
            margin-top: 16px;
        }
    }

    .setting-right {
        flex-grow: 0;
        width: calc(100vw - 256px);
        padding: 0 22px;
        padding-top: 24px;
        min-width: 400px;

        .setting-title {
            display: block;
            font-size: 22px;
            margin: 12px 0;
            color: var(--text-color-primary);
        }

        .setting-content {
            width: 100%;
        }
    }
}

.silder-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--text-color-primary);
    width: 100%;
    height: 32px;
    margin-top: 10px;
    border-radius: 4px;
    line-height: 32px;
    padding: 0 16px;
    cursor: pointer;
    background-color: var(--bg-color-primary);

    &:hover {
        .drag-icon {
            visibility: visible;
        }

        background-color: var(--primary-color-fade-20);
    }

    &.item-active {
        background-color: var(--primary-color-fade-20);
    }

    .drag-icon {
        visibility: hidden;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
        cursor: move;
    }
}