.sidekick-tool {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6px;
    padding: 8px;

    .sidekick-tool-logo {
        width: 24px;
        height: 24px;
    }

    .sidekick-tool-text {
        font-size: 12px;
        color: #fff;
    }
}