.ui-filed {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background-color: var(--bg-color-hight);
    color: var(--text-color-primary);
    font-size: 14px;
    border: 1px solid var(--bg-color-hight);
    display: flex;
    align-items: center;

    .ui-filed-label {
        color: var(--text-color-primary);
        margin-right: 6px;
        flex-shrink: 0;
        text-align: right;

    }

    input {
        height: 32px;
        padding: 2px 6px;
        line-height: 24px;
        border-radius: 4px;
        border: 1px solid var(--bg-color-second);
        outline: none;
        background-color: var(--bg-color-second);
        color: var(--text-color-primary);
        flex-grow: 1;

        &:focus {
            outline: none;
            border-color: var(--primary-color-tint-20);
            box-shadow: 0 0 0 2px var(--primary-color-fade-20);
        }
    }
}



.ui-card {
    border-radius: 6px;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--bg-color-hight);
}



.btn-text {
    cursor: pointer;
    color: var(--text-color-second);

    &:hover {
        opacity: 0.8;
        color: var(--text-hover-color);
    }
}

.btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    line-height: 26px;
    text-align: center;
    padding: 4px 8px;
    color: var(--text-color-primary);

    &:hover {
        opacity: 0.8;
        background-color: var(--primary-color-tint-60);
    }
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;

    &:hover {
        opacity: 0.8;
        background-color: var(--primary-color);
    }
}

.btn-border {
    box-shadow: 0 0 0 1px var(--border-color-second);
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-small {
    line-height: 20px;
    font-size: 12px;
    padding: 2px 4px;
}

.wirte-text {
    color: #fff;
}

.theme-text {
    color: var(--text-color-primary);
}

.theme-text-desc {
    color: var(--text-color-second);
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    margin: 2px 0;
}