:root {
    --primary-color: #98ff99;
    --primary-color-tint-20: tint(#98ff99, 20%);
    --primary-color-tint-40: tint(#98ff99, 40%);
    --primary-color-tint-80: tint(#98ff99, 80%);
    --primary-color-tint-90: tint(#98ff99, 90%);
    --primary-color-shade-5: shade(#98ff99, 5%);
    --primary-color-fade-20: fade(#98ff99, 20%);
    --primary-color-fade-80: fade(#98ff99, 80%);
    --parmary-color-hover: #56ea57;
}

.light {
    .theme(#313955);
}

.dark {
    .theme(#98ff99);
}