:root {
    --primary-color: #4d9bee;
    --primary-color-tint-20: tint(#4d9bee, 20%);
    --primary-color-tint-40: tint(#4d9bee, 40%);
    --primary-color-tint-80: tint(#4d9bee, 80%);
    --primary-color-tint-90: tint(#4d9bee, 90%);
    --primary-color-shade-5: shade(#4d9bee, 5%);
    --primary-color-fade-20: fade(#4d9bee, 20%);
    --primary-color-fade-80: fade(#4d9bee, 80%);


}