.sidekick-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color-hight);

    .sidekick-login-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 86px;
            height: 86px;
        }
    }

    .login-content {
        width: 100%;
        padding: 12px 32px;
        background-color: var(--bg-color-hight);

        .login-form-item {
            width: 100%;
            padding: 0;
        }

        .login-verify {
            display: flex;
            align-items: center;

            .login-verify-code {
                flex-shrink: 0;
                height: 30px;
                width: 76px;
                line-height: 30px;
                text-align: center;
                cursor: pointer;
                border-radius: 4px;
                box-sizing: border-box;
                color: var(--text-color-primary);

                &:hover {
                    opacity: 0.8;
                    background-color: var(--primary-color-tint-60);
                }
            }
        }
    }

    .login-operate {
        width: 100%;
        padding: 0 32px;
        margin-top: 12px;

        .login-oprate-footer {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 6px;
        }
    }
}