.sidekick-dialog {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 400px;
    background-color: var(--bg-color-second);
    box-shadow: 0 0 49px 16px #00000024;
    z-index: 257569878;

    .sidekick-dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--bg-color-hight);
        border-bottom: 1px solid var(--bg-color-primary);
        padding: 0 16px;
        height: 48px;
        color: var(--text-color-primary);

        .sidekick-dialog-title {
            display: flex;
            align-items: center;

            .tool-logo {
                width: 20px;
                height: 20px;
                margin-right: 4px;
            }
        }


        .sidekick-dialog-close {
            width: 20px;
            height: 20px;
            cursor: pointer;
            font-size: 14px;
        }
    }

    .sidekick-dialog-body {
        flex: 1;
    }
}

.sidekick-right {
    right: 60px !important;
}

.sidekick-left {
    left: 60px !important;
}